<%= form_for(@movie) do |f| %>
 <%= f.label :title %> :
 <%= f.text_field :title %><br />
 
 <%= f.label :rating %> (out of 100):
 <%= f.number_field :rating, :class => 'text_field', :min => 0, :max => 100 %><br />
<br></br>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
